global
    maxconn 2048
    nbthread 1
    log stdout format raw local0 emerg

defaults
    mode tcp
    option tcplog
    timeout connect 100ms
    timeout client 5s
    timeout server 5s

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option tcp-check
    server api1 /sockets/api1.sock check inter 50ms fall 2 rise 1
    server api2 /sockets/api2.sock check inter 50ms fall 2 rise 1
